@charset "utf-8";
/*线形渐变*/
#linear{
	width: 200px;
	height: 300px;
	/*background-color: orange;*/
	background-image: linear-gradient(to top,red,green);
}
/*放射性渐变*/
#radial{
	width: 200px;
	height: 300px;
	/*background-color: orange;*/
	background-image: radial-gradient(circle,red,green);
}
